/* Colocamos o body sem margem */

body {
    margin: 0;
}

/* Responsavel pela maioria das divs */

.tela {
    width: 70%;
}

.tudo {
    display: flex;
}

/* Configuração de tamanhos das divs principais e seus layout */

.header {
    background-color: aliceblue;
    width: 100%;
    height: 14dvh;
    display: flex;
    align-items: center;
}

.logo_header{
    width: 50%;
}

.logo_header img{
    width: 50%;
}

.imagemeinterativo {
    background-color: bisque;
    width: 100%;
    height: 49dvh;
}

.footer {
    background-color: blue;
    width: 100%;
    height: 35dvh;
}

/* Configuração dos botões e seus layouts */

.botoes {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    width: 15%;
    height: 100dvh;
    align-items: center;
    flex-direction: column;
}

.botao{
    height: 10%;
    width: 38%;
}

/* Botão da tela */

.botao_tela{
    border-radius: 20px;
    background-color: #0bbb66;
    width: 40%;
    height: 20%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
    position: relative;
    top: 12%;
    font-size: 30px;
}


/* O espaçador entre header e o footer */

.space{
    background-color: #0bbb66;
    width: 100%;
    height: 1dvh;
    
}
