/* Colocamos o body sem margem */

body {
    margin: 0;
}

/* Responsavel pela maioria das divs */

.tela {
    width: 85%;
    border-right: 0.8dvw solid gray;
    border-left: 0.8dvw solid gray;
}

.tudo {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Configuração de tamanhos das divs principais e seus layout */

.header {
    background-color: aliceblue;
    width: 100%;
    height: 14dvh;
    display: flex;
    align-items: center;
}

.logo_header{
    width: 50%;
}

.logo_header img{
    width: 40%;
    margin-left: 5%;
}

.banco24h img{
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: right;
    margin-right: 5%;
}

.imagemeinterativo {
    display: flex;
    width: 100%;
    height: 85dvh;
    background-image: url(/Imagens/fundo-de-imagem.jpg);
    background-repeat: round;
}

.footer {
    background-color: #0bbb66;
    width: 100%;
    height: 35dvh;
}
.texto1{
    margin: 0;
    margin-left: 2%;
    position: relative;
    top: 50%;
    left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.texto2{
    margin: 0;
}

/* Configuração dos botões e seus layouts */

.botoes {
    display: flex;
    justify-content: space-around;
    background-color: #0bbb66;
    width: 15%;
    height: 100dvh;
    align-items: center;
    flex-direction: column;
}

.botao{
    cursor: pointer;
    height: 12%;
    width: 45%;
    background-color: #d8d2d2;
    border: 2px solid #aaa; /* borda cinza escura */
    box-shadow: 0 6px 0 #666;
    padding: 10px 20px;
    font-weight: bold;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Configuração da animação */
}

.botao a{
	height: 12%;
	width: 45%;
	
}

/* Animação do botão */

.botao:hover {
    transform: translateY(1px);     /* leve afundamento */
    box-shadow: 0 4px 0 #666;
  }
.botao:active {
    transform: translateY(6px);     /* afundamento completo */
    box-shadow: 0 0 0 #666;
  }

/* Botão da tela */

/* Botão da direita */

.botao_topdir{
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4%;
    font-size: 30px;
    position: relative;
    top: 6.5%;
}

.botao_meiodir{
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4%;
    font-size: 30px;
    position: relative;
    top: 24%;
}

.botao_baixodir{
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4%;
    font-size: 30px;
    position: relative;
    top: 65%;
}

.botao_direita{
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

/* Botão da esquerda */

.botao_topesq{
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 4%;
    font-size: 30px;
    position: relative;
    top: 6.5%;
}

.botao_meioesq{
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 4%;
    font-size: 30px;
    position: relative;
    top: 24%;
}

.botao_baixoesq{
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 4%;
    font-size: 30px;
    position: relative;
    top: 41.4%;
}


.botao_esquerda{
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

/* O espaçador entre header e o footer */

.space{
    background-color: #d3b368;
    width: 100%;
    height: 1dvh;
}


