/* Colocamos o body sem margem */
body {
    margin: 0;
}

/* Responsável pela maioria das divs */
.tela {
    width: 85%;
    border-right: 0.8dvw solid gray;
    border-left: 0.8dvw solid gray;
}

/* font-family: "Lexend",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
.tudo {
    display: flex;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
}

/* Configuração de tamanhos das divs principais e seus layout */
.header {
    background-color: aliceblue;
    width: 100%;
    height: 14dvh;
    display: flex;
    align-items: center;
}

.logo_header {
    width: 50%;
}

.logo_header img {
    width: 40%;
    margin-left: 5%;
}

.banco24h img {
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: right;
    margin-right: 5%;
}

.interativo {
    display: flex;
    width: 100%;
    height: 85dvh;
    background-image: url(../Imagens/bg-menu-teste4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Layout específico para inserção de valores */
.tudo_op {
    background-image: url(../Imagens/bg-menu-teste4.jpg);
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_op {
    display: flex;
    width: 100%;
    height: 32dvh;
}

.meio_op {
    text-align: center;
    height: 53dvh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inputsaldo {
    display: none;
    height: 10dvh;
    width: 35dvw;
    border-radius: 50px;
    font-size: 43px;
    position: relative;
    text-align: center;
    top: 56%;
    left: 27%;
    background-color: #d8d2d2;
    outline: none;
}

.meio_op input {
    height: 10dvh;
    width: 35dvw;
    border-radius: 50px;
    font-size: 43px;
    position: relative;
    text-align: center;
    top: 56%;
    background-color: #d8d2d2;
    outline: none;
}

.mostrar_valores {
    height: 5dvh;
    width: 35dvw;
    border-radius: 50px;
    font-size: 43px;
    position: relative;
    text-align: center;
    top: 56%;
    background-color: #d8d2d2;
    outline: none;
    border: 2px solid rgb(118, 118, 118);
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.tampar_valores {
    height: 5dvh;
    width: 35dvw;
    border-radius: 50px;
    font-size: 43px;
    position: relative;
    text-align: center;
    top: 37.5%;
    background-color: darkgray;
    outline: none;
    border: 2px solid rgb(118, 118, 118);
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    z-index: 1;
    display: block;
}

.fundo_texto_confirmar {
    display: flex;
    width: 65%;
    margin: auto;
    position: relative;
    top: 17%;
    height: 70%;
    border-radius: 50px;
    background-color: #d8d2d2;
    opacity: 95%;
}

/* Tela quando está colocando valores */
.interativovalor {
    width: 100%;
    height: 85dvh;
    display: block;
    text-align: center;
    padding-top: 18%;
}

.footer {
    background-color: #0bbb66;
    width: 100%;
    height: 35dvh;
}

/* Textos principais */
.texto1 {
    margin: 0;
    margin-left: 2%;
    position: relative;
    top: 50%;
    left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.texto2 {
    margin: 0;
}

.textovalor {
    font-size: 6dvh;
    padding-bottom: 2dvh;
}

.saldo_texto {
    font-size: 40px;
    width: 27%;
    height: 3.5dvh;
    position: relative;
    top: 50%;
    left: 47%;
    font-style: normal;
    display: flex;
}

.numero_da_conta {
    font-size: 40px;
    width: 35%;
    height: 3.5dvh;
    position: relative;
    top: 50%;
    left: 35%;
    font-style: normal;
    display: flex;
}

.senha_da_conta {
    font-size: 40px;
    width: 25%;
    height: 3.5dvh;
    position: relative;
    top: 50%;
    margin: auto;
    font-style: normal;
    display: flex;
}

.saque_conta_corrente {
    font-size: 37px;
    width: 30%;
    height: 3.5dvh;
    position: relative;
    top: 41%;
    left: 1%;
    margin: auto;
    font-style: normal;
    display: flex;
}

.inserir_valor_texto {
    font-size: 37px;
    width: 32%;
    height: 3.5dvh;
    position: relative;
    top: 42%;
    left: 35%;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.texto_confirmar_t {
    font-size: 37px;
    width: 35%;
    height: 3.5dvh;
    position: relative;
    top: 42%;
    margin: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.inserir_valor_texto_s {
    font-size: 30px;
    position: relative;
    top: 20%;
    height: 10dvh;
    left: 3%;
}

.texto_confirmar {
    font-size: 50px;
    font-style: normal;
    display: flex;
    position: relative;
    top: -30%;
    left: 22.2%;
    width: 60%;
}

/* Remove as setas do input number e também o "ver senha" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* Configuração dos botões e seus layouts */
.botoes {
    display: flex;
    justify-content: space-around;
    background-color: #0bbb66;
    width: 15%;
    height: 100dvh;
    align-items: center;
    flex-direction: column;
}

.botao {
    cursor: pointer;
    height: 12%;
    width: 45%;
    background-color: #d8d2d2;
    border: 2px solid #aaa;
    box-shadow: 0 6px 0 #666;
    padding: 10px 20px;
    font-weight: bold;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.botao a {
    height: 12%;
    width: 45%;
}

/* Animação do botão */
.botao:hover {
    transform: translateY(1px);
    box-shadow: 0 4px 0 #666;
}

.botao:active {
    transform: translateY(6px);
    box-shadow: 0 0 0 #666;
}

/* Botões da direita */
.botao_topdir,
.botao_meiodir,
.botao_baixodir,
.botao_voltar {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4%;
    font-size: 30px;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_topdir {
    top: 6.5%;
    position: relative;
}

.botao_meiodir {
    top: 24%;
    position: relative;
}

.botao_baixodir {
    top: 41.4%;
    position: relative;
}

.botao_voltar {
    top: 65%;
    position: relative;
}

/* Botões específicos para telas de inserir senhas */
.botao_voltar_valor,
.botao_confirmar_valor {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 40%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    position: relative;
    top: 7%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_voltar_valor {
    margin-right: auto;
    margin-left: 2%;
}

.botao_confirmar_valor {
    margin-left: auto;
    margin-right: 2%;
}

.botao_direita {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Botões da esquerda */
.botao_topesq,
.botao_meioesq,
.botao_baixoesq {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    position: relative;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_topesq {
    margin-right: auto;
    margin-left: 4%;
    top: 6.5%;
}

.botao_meioesq {
    margin-right: auto;
    margin-left: 4%;
    top: 24%;
}

.botao_baixoesq {
    margin-right: auto;
    margin-left: 4%;
    top: 41.4%;
    color: #fff;
}

.botao_esquerda {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* O espaçador entre header e o meio */
.space {
    background-color: #d3b368;
    width: 100%;
    height: 1dvh;
}