/* Colocamos o body sem margem */

body {
    margin: 0;
}

/* Responsavel pela maioria das divs */

.tela {
    width: 85%;
    border-right: 0.8dvw solid gray;
    border-left: 0.8dvw solid gray;
}

/* font-family: "Lexend",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */

.tudo {
    display: flex;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
}

/* Configuração de tamanhos das divs principais e seus layout */

.header {
    background-color: aliceblue;
    width: 100%;
    height: 14dvh;
    display: flex;
    align-items: center;
}

.logo_header {
    width: 50%;
}

.logo_header img {
    width: 40%;
    margin-left: 5%;
}

.banco24h img {
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: right;
    margin-right: 5%;
}

.interativo {
    display: flex;
    width: 100%;
    height: 85dvh;
    background-image: url(/Imagens/bg-menu-teste2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Layout específico para inserção de valores */

.tudo_op {
    background-image: url(/Imagens/bg-menu-teste2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_op {
    display: flex;
    width: 100%;
    height: 32dvh;
}

.meio_op {
    text-align: center;
    height: 53dvh;
    width: 100%;
}

.inputsaldo {
    display: none;
    height: 10dvh;
    width: 35dvw;
    border-radius: 50px;
    font-size: 43px;
    position: relative;
    text-align: center;
    top: 56%;
    left: 27%;
    background-color: #d8d2d2;
    outline: none;
}

.meio_op input {
    height: 10dvh;
    width: 35dvw;
    border-radius: 50px;
    font-size: 43px;
    position: relative;
    text-align: center;
    top: 56%;
    background-color: #d8d2d2;
    outline: none;
}

.mostrar_div_emprestimo {
    height: 5dvh;
    width: 35dvw;
    border-radius: 50px;
    font-size: 43px;
    position: relative;
    text-align: center;
    top: 56%;
    background-color: #d8d2d2;
    outline: none;
    border: 2px solid rgb(118, 118, 118);
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* Tela quando está colocando valores */

.interativovalor {
    width: 100%;
    height: 85dvh;
    display: block;
    text-align: center;
    padding-top: 18%;

}

.footer {
    background-color: #0bbb66;
    width: 100%;
    height: 35dvh;
}

/* Textos principais */

.texto1 {
    margin: 0;
    margin-left: 2%;
    position: relative;
    top: 50%;
    left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.texto2 {
    margin: 0;
}

.textovalor {
    font-size: 6dvh;
    padding-bottom: 2dvh;
}

.saldo_texto{
    font-size: 40px;
    width: 27%;
    height: 3.5dvh;
    position: relative;
    top: 50%;
    left: 47%;
    font-style: normal;
    display: flex;
}

.numero_da_conta {
    font-size: 40px;
    width: 29%;
    height: 3.5dvh;
    position: relative;
    top: 50%;
    left: 35.5%;
    font-style: normal;
    display: flex;
}

.senha_da_conta {
    font-size: 45px;
    width: 25%;
    height: 3.5dvh;
    position: relative;
    top: 50%;
    margin: auto;
    font-style: normal;
    display: flex;
}

.saque_conta_corrente {
    font-size: 45px;
    width: 28%;
    height: 3.5dvh;
    position: relative;
    top: 38%;
    left: 1%;
    margin: auto;
    font-style: normal;
    display: flex;
}

.inserir_valor_texto {
    font-size: 37px;
    width: 30%;
    height: 3.5dvh;
    position: relative;
    top: 42%;
    margin: auto;
    font-style: normal;
    display: flex;
}

.inserir_valor_texto_s {
    font-size: 30px;
    position: relative;
    top: 20%;
    height: 10dvh;
    left: 3%;
}

.texto_confirmar{
    font-size: 60px;
    width: 40%;
    height: 3.5dvh;
    position: relative;
    top: 50%;
    margin: auto;
    font-style: normal;
    display: flex;
}

/* Remove as setas do input number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Configuração dos botões e seus layouts */

.botoes {
    display: flex;
    justify-content: space-around;
    background-color: #0bbb66;
    width: 15%;
    height: 100dvh;
    align-items: center;
    flex-direction: column;
}

.botao {
    cursor: pointer;
    height: 12%;
    width: 45%;
    background-color: #d8d2d2;
    border: 2px solid #aaa;
    /* borda cinza escura */
    box-shadow: 0 6px 0 #666;
    padding: 10px 20px;
    font-weight: bold;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    /* Configuração da animação */
}

.botao a {
    height: 12%;
    width: 45%;

}

/* Animação do botão */

.botao:hover {
    transform: translateY(1px);
    /* leve afundamento */
    box-shadow: 0 4px 0 #666;
}

.botao:active {
    transform: translateY(6px);
    /* afundamento completo */
    box-shadow: 0 0 0 #666;
}


/* Botão da direita */

.botao_topdir {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4%;
    font-size: 30px;
    position: relative;
    top: 6.5%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_meiodir {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4%;
    font-size: 30px;
    position: relative;
    top: 24%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_baixodir {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4%;
    font-size: 30px;
    position: relative;
    top: 41.4%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_voltar {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4%;
    font-size: 30px;
    position: relative;
    top: 65%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

/* Botões específicos a telas de inserir senhas */

.botao_voltar_valor {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 40%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 2%;
    font-size: 30px;
    position: relative;
    top: 7%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_confirmar_valor {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 40%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
    font-size: 30px;
    position: relative;
    top: 7%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_direita {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Botão da esquerda */

.botao_topesq {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 4%;
    font-size: 30px;
    position: relative;
    top: 6.5%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_meioesq {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 4%;
    font-size: 30px;
    position: relative;
    top: 24%;
    border: 2px solid #d3b368;
    color: #ffffff;
}

.botao_baixoesq {
    border-radius: 20px;
    background-color: #0bbb66;
    width: 80%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 4%;
    font-size: 30px;
    position: relative;
    top: 41.4%;
    border: 2px solid #d3b368;
    color: #fff;
}

.botao_esquerda {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* O espaçador entre header e o footer */

.space {
    background-color: #d3b368;
    width: 100%;
    height: 1dvh;
}